:root {
  --bg-size: 8vw;
  --bg-teeth-width: 3vw;
  --bg-teeth-height: 2.5vw;
  --bg-translate: calc(var(--bg-size) / 2);

  --opg-size: 3vw;
  --opg-teeth-width: 0.75vw;
  --opg-teeth-height: 0.75vw;
  --opg-translate: calc(var(--opg-size) / 2);

  --opg2-size: 5vw;
  --opg2-teeth-width: 1.1vw;
  --opg2-teeth-height: 1.3vw;
  --opg2-translate: calc(var(--opg2-size) / 2);

  --omg-size: 15vw;
  --omg-teeth-width: 4vw;
  --omg-teeth-height: 4vw;
  --omg-translate: calc(var(--omg-size) / 2);
}

.bg-gear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--bg-size);
  height: var(--bg-size);
  transform: rotate(45deg);
  background-color: var(--bg-secondary);
  left: 7.25vw;
  top: 5vh;
  animation: gear-rotation 20s linear infinite;
}

.bg-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  background: var(--bg-secondary);
  border-radius: 75%;
  z-index: 1;
}

.bg-tooth {
  position: absolute;
  box-sizing: border-box;
  height: var(--bg-teeth-height);
  width: var(--bg-teeth-width);
}

.bg-tooth::before {
  position: absolute;
  width: 100%;
  height: 125%;
  content: "";
  background: var(--bg-secondary);
  border-radius: 25%;
}

.bg-gear .bg-tooth:nth-child(1) {
  transform: translateX(var(--bg-translate));
}

.bg-gear .bg-tooth:nth-child(2) {
  transform: rotateZ(60deg) translateX(var(--bg-translate));
}

.bg-gear .bg-tooth:nth-child(3) {
  transform: rotateZ(120deg) translateX(var(--bg-translate));
}

.bg-gear .bg-tooth:nth-child(4) {
  transform: rotateZ(180deg) translateX(var(--bg-translate));
}

.bg-gear .bg-tooth:nth-child(5) {
  transform: rotateZ(240deg) translateX(var(--bg-translate));
}

.bg-gear .bg-tooth:nth-child(6) {
  transform: rotateZ(300deg) translateX(var(--bg-translate));
}

.overlay-primary-gear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--opg-size);
  height: var(--opg-size);
  transform: rotate(45deg);
  background-color: var(--bg-main);
  bottom: 22vh;
  left: 17.75vw;
  animation: gear-rotation 20s linear infinite;
}

.opg-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  background: var(--bg-secondary);
  border-radius: 75%;
  z-index: 1;
}

.opg-tooth {
  position: absolute;
  box-sizing: border-box;
  height: var(--opg-teeth-height);
  width: var(--opg-teeth-width);
}

.opg-tooth::before {
  position: absolute;
  width: 100%;
  height: 125%;
  content: "";
  background: var(--bg-main);
  border-radius: 25%;
}

.overlay-primary-gear .opg-tooth:nth-child(1) {
  transform: translateX(var(--opg-translate));
}

.overlay-primary-gear .opg-tooth:nth-child(2) {
  transform: rotateZ(60deg) translateX(var(--opg-translate));
}

.overlay-primary-gear .opg-tooth:nth-child(3) {
  transform: rotateZ(120deg) translateX(var(--opg-translate));
}

.overlay-primary-gear .opg-tooth:nth-child(4) {
  transform: rotateZ(180deg) translateX(var(--opg-translate));
}

.overlay-primary-gear .opg-tooth:nth-child(5) {
  transform: rotateZ(240deg) translateX(var(--opg-translate));
}

.overlay-primary-gear .opg-tooth:nth-child(6) {
  transform: rotateZ(300deg) translateX(var(--opg-translate));
}

.overlay-primary-gear2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--opg2-size);
  height: var(--opg2-size);
  transform: rotate(45deg);
  background-color: var(--bg-main);
  top: 0;
  right: 16vw;
  animation: gear-rotation 20s linear infinite reverse;
}

.opg2-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  background: var(--bg-secondary);
  border: var(--magenta) solid 3px;
  border-radius: 75%;
  z-index: 1;
}

.opg2-tooth {
  position: absolute;
  box-sizing: border-box;
  height: var(--opg2-teeth-height);
  width: var(--opg2-teeth-width);
}

.opg2-tooth::before {
  position: absolute;
  width: 100%;
  height: 125%;
  content: "";
  background: var(--bg-main);
  border-radius: 25%;
}

.overlay-primary-gear2 .opg2-tooth:nth-child(1) {
  transform: translateX(var(--opg2-translate));
}

.overlay-primary-gear2 .opg2-tooth:nth-child(2) {
  transform: rotateZ(60deg) translateX(var(--opg2-translate));
}

.overlay-primary-gear2 .opg2-tooth:nth-child(3) {
  transform: rotateZ(120deg) translateX(var(--opg2-translate));
}

.overlay-primary-gear2 .opg2-tooth:nth-child(4) {
  transform: rotateZ(180deg) translateX(var(--opg2-translate));
}

.overlay-primary-gear2 .opg2-tooth:nth-child(5) {
  transform: rotateZ(240deg) translateX(var(--opg2-translate));
}

.overlay-primary-gear2 .opg2-tooth:nth-child(6) {
  transform: rotateZ(300deg) translateX(var(--opg2-translate));
}

.overlay-main-gear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--omg-size);
  height: var(--omg-size);
  transform: rotate(45deg);
  background-color: var(--big-gear);
  border: var(--magenta) solid 3px;
  top: 19vh;
  right: -6vw;
  animation: gear-rotation 20s linear infinite reverse;
}

.omg-cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  background: var(--big-gear);
  border: var(--magenta) solid 3px;
  border-radius: 75%;
}

.omg-tooth {
  position: absolute;
  box-sizing: border-box;
  height: var(--omg-teeth-height);
  width: var(--omg-teeth-width);
}

.omg-tooth::before {
  position: absolute;
  width: 100%;
  height: 125%;
  content: "";
  background: var(--big-gear);
  border-radius: 25%;
  border: var(--magenta) solid 3px;
}

.overlay-main-gear .omg-tooth:nth-child(1) {
  transform: translateX(var(--omg-translate));
}

.overlay-main-gear .omg-tooth:nth-child(2) {
  transform: rotateZ(60deg) translateX(var(--omg-translate));
}

.overlay-main-gear .omg-tooth:nth-child(3) {
  transform: rotateZ(120deg) translateX(var(--omg-translate));
}

.overlay-main-gear .omg-tooth:nth-child(4) {
  transform: rotateZ(180deg) translateX(var(--omg-translate));
}

.overlay-main-gear .omg-tooth:nth-child(5) {
  transform: rotateZ(240deg) translateX(var(--omg-translate));
}

.overlay-main-gear .omg-tooth:nth-child(6) {
  transform: rotateZ(300deg) translateX(var(--omg-translate));
}

@keyframes gear-rotation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}